!!! 5
%html
  %head
    %title "Current Pull Request Totals"
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0"}
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel:'stylesheet', media: 'screen'}
  %body

    .container
      .row.col-lg-12
        .content{style: 'color: #fff; text-align:center; background: url("/images/splash_screen_04.jpg") center center no-repeat; min-height: 600px;'}
          %dl.dl-horizontal.col-lg-offset-4.col-lg-4{style: 'font-size: 200%'}
            %dt Open: 
            %dd #{@open.count}
            %dt Closed:
            %dd #{@closed.count}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    %script{type: 'text/javascript', src: "//code.jquery.com/jquery.js"}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    %script{type: 'text/javascript', src: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
